<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h2>Sign in</h2>

    <p>Sign in using your Site Control email and password.</p>
    <br>

    <%= form_for @organization, url: sign_in_path do |f| %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Enter email' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: 'btn btn-default' %>
      </div>

    <% end %>

  </div>
</div>
