<!DOCTYPE html>
<html ng-app='miniwdwot'>
<head>
  <title>Miniwdwot</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render partial: 'layouts/admin_navbar' %>

  <% if alert %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= alert %></p>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= notice %></p>
    </div>
  <% end %>

  <div class='container'>
    <div class="row">
      <div class="col-sm-12">

        <div>
          <div ng-if='organization' ng-include="'assets/layout/navigation.html'">
        </div>

          <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
